{% extends 'nlaws/base.html' %}
{% load static %}
{% block title %}Order Checklist{%endblock%}
{% block content %}
  <h2 class="text-center">Order Checklist</h2>
	<form action="{% url 'nlaws:checklist' order_id %}" method="post" autocomplete="off">
    {% csrf_token %}
		{% for line in order_list %}
	  	<div class="checkbox">
				<label><input type="checkbox" name="invoice_line" value="{{line.pk}}"> {{line.product.name}}: {{line.quantity}}</label>
	    </div>
			<div class="row hidden">
			  <div class="invoice-detail col-xs-offset-1 col-xs-3 col-sm-2 col-md-1">
			  	<label for="{{line.product.name}}">I got:</label>
			  	<input type="number" class="form-control" value="{{line.quantity}}" name="{{line.pk}}" id="{{line.product.name}}"
			  	min="1" max="{{line.quantity}}" step="1" required disabled>
			  </div>
		  </div>
		{% endfor %}
		<p><button type="submit" class="btn btn-primary">submit</button></p>
	</form>
{%endblock%}
{% block scripts %}<script src="{% static 'nlaws/checkboxes.js' %}"></script>{%endblock%}
